# app/views/shelters/show.html.erb

<h3><%= @shelter.name %></h3>

<p><%= @shelter.address %><br><%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>

<p><a href="/shelters/<%= @shelter.id %>/pets">View adoptable pets from this shelter!</a></p>

<%= button_to 'delete shelter', "/shelters/#{@shelter.id}", method: :delete %>

<p><a href="/shelters/<%= @shelter.id %>/edit">Update shelter</a> or
<a href="/shelters">return to all shelters</a></p>
