<article class='sbid'>
  <section class='sbid-header'>
    <div class='sbid-header-info'>
      <div class='sbid-header-info-text'>
        <h1><%= @shelter.name %></h1>
        <p><%= @shelter.address %><br><%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>
        <ul>
          <li>Number of pets: <%= @shelter.pets.total_pets %></li>
          <li>Average Rating: <%= @shelter.reviews.average_rating %></li>
          <li>Current applications: <%= @shelter.pets.num_of_total_applications %> </li>
        </ul>
      </div>
    </div>
    <div class='sbid-links-buttons'>
      <p><a href="/shelters/<%= @shelter.id %>/pets">View adoptable pets from this shelter!</a></p>
      <%= button_to 'Update Shelter', "/shelters/#{@shelter.id}/edit", method: :get %>
      <%= button_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>
    </div>
    <div class='sbid-header-image'>
      <%= image_tag  "#{@shelter.image}", :size => '400x250'%>
    </div>
  </section>
  <section class="reviews-box">
    <h1>Reviews</h1>
      <% if @shelter.has_reviews? %>
        <% @shelter.reviews.each do |review| %>
          <div class='review'>
            <%= review.title %> | Rating: <%= review.rating %>
            <br><br>
            "<%= review.content %>"
            <br><br>
          </div>
          <div class="review-buttons">
            <%= button_to 'Edit Review', "/reviews/#{review.id}/edit", method: :get %>
            <%= button_to 'Delete Review', "/reviews/#{review.id}", method: :delete %>
          </div>
          <hr>
        <% end %>
      <% else %>
        <p>This shelter currently has no reviews</p>
      <% end %>
    <div class='review-link'>
      <%= link_to 'CREATE NEW REVIEW', "/shelters/#{@shelter.id}/reviews/new" %>
    </div>
  </section>
</article>
