<div class='page-title'>
  <h1>Adoptable Pets from <%= @shelter.name %></h1>
  <p># of adoptable pets: <%= @pets.total_pets %></p>
</div>

<article class='all-pets'>
  <% @pets.each do |pet| %>
    <section class='pet-box'>
        <%= link_to "/pets/#{pet.id}" do %>
          <%= image_tag pet.image, :class => 'pet-image'  %>
        <% end %>

      <div class='pet-info'>
        <h3><%= link_to pet.name, "/pets/#{pet.id}", :class => 'pet-link' %></h3>

        <ul>
          <li>Age: <%= pet.approx_age %></li>
          <li>Sex: <%= pet.sex %></li>
        </ul>
      </div>

      <div class='pet-buttons'>
        <%= button_to 'Update Pet', "/pets/#{pet.id}/edit", method: :get %>
        <%= button_to 'Remove Pet', "/pets/#{pet.id}", method: :delete %>
      </div>
    </section>
  <% end %>
</article>

<div class='create-pet'>
  <%= button_to 'Create New Pet', "/shelters/#{@shelter.id}/pets/new", method: :get %>
</div>
