<% if Favorite.count > 0 %>
  <article class='all-favs'>
    <section class='adopt-process-button'>
      <%= button_to 'START ADOPTION PROCESS', "/application/new", method: :get %>
    </section>

    <section class='all-pets'>
      <% @pets.each do |pet| %>

       <div class='pet-box'>
          <%= link_to "/pets/#{pet.id}" do %>
            <%= image_tag pet.image, :class => 'pet-image'  %>
          <% end %>


          <div class='pet-info'>
            <h3><%= link_to pet.name, "/pets/#{pet.id}", :class => 'pet-link' %></h3>
          </div>

          <div class="pet-buttons-<%=pet.id%>">
            <%=  button_to "REMOVE PET FROM FAVORITES", "/favorites/#{pet.id}",  method: :delete, :class => 'fav-button' %>
          </div>
        </div>
      <% end %>
    </section>

    <section class='remove-all-favs'>
      <%= button_to 'REMOVE ALL PETS FROM FAVORITES', "/favorites/all", method: :delete %>
    </section>
  </article>

<% else %>
  <p id='missing-favs'>No favorited pets :( Please add some!</p>
<% end %>
