<article class='application-whole'>
  <section class ='application-title'>
    Application # <%= @application.id %>
  </section>

  <section class='applicant-info'>
      <h1>Name of Applicant: <%= @application.name %></h1>
      <ul>
        <li>Phone Number: <%= @application.phone_num %> </li>
        <li>Address: <%= @application.address %> <%= @application.city %>, <%= @application.state %> <%= @application.zip %></li>
      </ul>
      <p>Description of why applicant is good suiter for pets: <br><br>
      <%= @application.description %></p>
  </section>

  <section class='pets-applied-for'>
    <h3>Applied for pets:</h3>
    <% @application.pets.each do |pet| %>
      <ul>
        <li>
        <div id=<%= pet.id %> >
          <%= link_to pet.name, "/pets/#{pet.id}" %> <- <%= form_tag "/pets/#{pet.id}", method: :patch do %><%= hidden_field_tag :change, :status %><%= hidden_field_tag :adopter_id, @application.id %><%= submit_tag "Approve Application" %>
          <% end %>
        </div>
      </li>
      </ul>
    <% end %>
  </section>
</article>
