<article class='all-pets'>
  <% @pets.each do |pet| %>
    <section class='pet-box'>
        <%= link_to "/pets/#{pet.id}" do %>
          <%= image_tag pet.image, class: 'pet-image' %>
        <% end %>

      <div class='pet-info'>
        <h3><%= link_to pet.name, "/pets/#{pet.id}", :class => 'pet-link' %></h3>

        <ul>
          <li>Age: <%= pet.approx_age %></li>
          <li>Sex: <%= pet.sex %></li>
          <% shelter = @shelters.find {|shelter| shelter.id == pet.shelter_id} %>
          <li>Shelter: <a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></li>
        </ul>
      </div>

      <div class='pet-buttons'>
        <%= button_to 'Update Pet', "/pets/#{pet.id}/edit", method: :get %>
        <% if favorite.contents.include?(pet.id.to_s) %>
         <p class='remove-fav-first'>Remove pets from <br> favorites first</p>
        <% else %>
          <%= button_to 'Remove Pet', "/pets/#{pet.id}", method: :delete %>
        <% end %>
      </div>
    </section>
  <% end %>
</article>
