<article class='pbid'>
  <section class='pbid-header'>
    <div class='pbid-header-info'>
      <div class='pbid-header-info-text'>
        <h1>Meet <%= @pet.name %>!</h1>
        <p>About: <br><%= @pet.description %></p>
        <ul>
          <li>Age: <%= @pet.approx_age %></li>
          <li>Sex: <%= @pet.sex %></li>
          <li>Adoption Status: <% if @pet.adopted? == false%>
                                <%= "Ready for adoption!" %>
                                <% else %>
                                <%= "Gone to a great home!" %>
                                <% end %></li>
        </ul>      </div>
    </div>
    <div class='pbid-header-image'>
      <%= image_tag  "#{@pet.image}"%>
    </div>
  </section>
  <section class="reviews">
    <%= @review.title %> <%= @review.rating %><%= @review.content %>
  </section>

</article>
