<div class='page-title'>
  <h1>Edit This Review</h1>
</div>
<div class="flash-notice">
  <% flash.each do |type, message| %>
    <p><%= message %></p>
  <% end %>
</div>
<article class="edit-info">
  <section class='edit-info-box'>
    <%= form_tag "/reviews/#{@review.id}", method: :patch do%>
      <%= label_tag 'Title:' %><br>
      <%= text_field_tag :title, @review.title %><br><br>

      <%= label_tag 'Rating:' %><br>
      <%= text_field_tag :rating, @review.rating %><br><br>

      <%= label_tag 'Content:' %>  <br>
      <%= text_area_tag :content, @review.content %><br><br>

      <%= submit_tag 'Edit Review' %>
    <% end %>
  </section>
</article>
