<div class='page-title'>
  <h1>Create a new review</h1>
</div>
<article class="edit-info">
  <section class='edit-info-box'>
    <%= form_tag "/shelters/#{@shelter_id}/reviews" do%>
      <%= label_tag 'Title:' %><br>
      <%= text_field_tag :title %><br><br>

      <%= label_tag 'Rating:' %><br>
      <%= text_field_tag :rating %><br><br>

      <%= label_tag 'Content:' %>  <br>
      <%= text_area_tag :content %><br><br>

      <%= submit_tag 'Create Review' %>
    <% end %>
  </section>
</article>
