<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShopSolo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <header>
      <h1>Adopt Don't Shop</h1>
    </header>

    <nav>
      <%= link_to 'HOME', '/', :class => 'nav-link' %>
      <%= link_to 'SHELTERS', '/shelters', :class => 'nav-link' %>
      <%= link_to 'PETS', '/pets', :class => 'nav-link' %>
    </nav>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
