<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShopSolo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <header>
      <h1>Adopt Don't Shop</h1>
    </header>

    <nav>
      <%= link_to 'HOME', '/', :class => 'nav-link' %>
      <%= link_to 'SHELTERS', '/shelters', :class => 'nav-link' %>
      <%= link_to 'PETS', '/pets', :class => 'nav-link' %>
      <%= link_to 'FAVORITE PETS:', '/favorites', :class => 'nav-link' %>
    </nav>

  </head>

  <body>
    <div class="flash-notice">
      <% flash.each do |type, message| %>
        <p><%= message %></p>
      <% end %>
    </div>
    
    <%= yield %>
  </body>
</html>
